/* Reset some default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.menu-icon {
  cursor: pointer;
  margin-right: 20px;
}

.menu-icon img {
  width: 30px;
  height: auto;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.logo a {
  color: #c58936;
  font-size: 24px;
  text-decoration: none;
  font-family: "Brush Script MT";
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  /* border: 2px solid red; */
}

.nav-links li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  transition: background 0.3s;
}

.nav-links li a:hover {
  background-color: #fbdeb7;
  border-radius: 5px;
}

.profile {
  /* margin-left: auto; */
  position: absolute;
  right: 15px;
  align-items: center;
}

.profile img {
  width: 30px;
}

/* Main Body */

.main-page-image {
  display: flex;
  position: relative;
  text-align: center;
  /* border: 2px solid red; */
}

.main-page-image img {
  width: 100%;
  /* height: auto; */
}

.view-collections {
  position: absolute;
  cursor: pointer;
  font-size: 40px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.view-collections img {
  border: 1px solid black;
  background: #fbdeb7;
  margin: 20px;
  width: 50px;
}

.quote {
  position: absolute;
  font-family: "Brush Script MT";
  font-size: 30px;
  bottom: 40px;
  right: 20px;
  max-width: 400px;
  text-align: center;
  color: #fbdeb7;
}

.featured {
  text-align: center;
  margin: 50px;
  font-size: 40px;
  color: #fbdeb7;
}

.image-gallery-container {
  position: relative;
  display: flex;
  margin: 50px auto;
  width: 90%;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.image-item img {
  width: 100%;
  height: 90%;
  border: 3px solid #fbdeb7;
  border-radius: 8px;
  object-fit: cover;
}

.watch-name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
}

/* Styling for navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fbdeb7;
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 60%;
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-next {
  right: -60px;
}

/* Optional hover effect for buttons */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #e0ab76;
}

/* Footer */

footer {
  background-color: white;
  color: black;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-content h3 {
  margin-bottom: 10px;
}

.copyright a{
  color: #c58936;
  font-size: 28px;
  text-decoration: none;
  font-family: "Brush Script MT";
}

.social-media a {
  margin: 0 20px;
}

.social-media img {
  width: 24px;
  height: auto;
}
